body {
  color: #48b198;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #e4f9f5;
}
img {
  width: 200px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  background: #bcbcbc;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 1rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}
ul {
  list-style: none;
}
.nav-list a {
  display: block;
  font-size: 1.5rem;
  /* padding: 2rem; */
}

h1 {
  color: #48b198;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #48b198;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  margin-top: 85px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #3d405b;
  padding: 50px 0 20px;
  color: #fefefe;
  border-bottom: 20px solid black;
  border-top: 20px solid black;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 150px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
  top: 360px;
  width: 150px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mountain {
  width: 900px;
}

.projects-section {
  padding: 10rem 0rem;
  background: #fbfbfb;
  margin-top: 50px;
}

.projects-section-header {
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
}

.project {
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.code {
  color: #48b198;
  transition: color 0.3s ease-out;
  display: none;
}
.code:hover {
  visibility: collapse;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  color: #48b198;
  font-size: 1.5rem;
}

.project-title:hover {
  color: #000;
}
#btn {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: #48cae4;

  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
#btn:hover {
  color: #000;
  background-color: #00b4d8;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}
#btn:active {
  transform: scaleX(0.9) scaleY(1);
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
.h {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
